<footer class="container-fluid bg-light py-4 pt-5">
  <div class="container">
    <div class="row text-center text-md-start">
      <div class="col-md-4 mb-4">
        <h5>Follow Us</h5>
        <ul class="list-unstyled social-media-links">
          <li>
            <a href="https://www.facebook.com" target="_blank">Facebook</a>
          </li>
          <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
          <li>
            <a href="https://www.instagram.com" target="_blank">Instagram</a>
          </li>
          <li>
            <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h5>Contact Us</h5>
        <ul class="list-unstyled contact-info">
          <li>
            Email:
            <a href="mailto:info@localservices.com">info@localservices.com</a>
          </li>
          <li>Phone: +91-9876543210</li>
          <li>Address: 123, Chennai, India</li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="text-center text-muted mt-3">
      &copy; 2025 LocalService. All Rights Reserved.
    </div>
  </div>
</footer>
