{% extends "myapp/base2.html" %} {% block content %}

<section class="container login-section">
  <div class="row justify-content-center">
    <div class="col-10 col-md-6 col-lg-5">
      <div class=" p-1 p-sm-3 shadow rounded bg-white mt-2 mt-md-5">
        <h2 class="text-center my-3">Login Your Account</h2>
        {% include "myapp/include/error.html" %}
        <div class="p-4 pt-0">
          <form method="POST" class="form-container"  action="{% url 'mainapp:login' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                name="username"
                id="username"
                class="form-control"
                placeholder="Enter your username"
                required
              />
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                placeholder="Enter your password"
                required
              />
            </div>

            <div class="d-flex justify-content-between align-items-center mb-3">
              <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-center">Login</button>
              <button
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#forgotpassword"
                style="all: unset; cursor: pointer"
              >
                forgotpassword
              </button>
            </div>
          </form>
          <div class="d-flex align-items-center my-3">
            <hr class="flex-grow-1" />
            <span class="mx-2 text-muted">or</span>
            <hr class="flex-grow-1" />
          </div>
          <div class="text-center mt-3">
            <a
              href="{% url 'mainapp:register' %}"
              class="btn btn-outline-secondary"
              >Create your account</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="forgotpassword">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <div class="modal-body">
            <form method="POST" class="border-0" action="{% url 'mainapp:forgotpassword' %}">
              {% csrf_token %}
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Enter your registered email"
                  class="form-control"
                  required
                />
              </div>

              <p class="mt-4 text-center text-muted">
                We have sent a password reset link to your registered email
                address.
              </p>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary pb-2 d-flex align-items-center justify-content-center"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-center">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
